.import .input, .import .parsed {
  width: 48%;
}

.import .input {
  float: left;
}

.import .parsed {
  float: right;
}

.import .submit, .import .data {
  display: block;
  margin: 0 auto;
}

.import .data {
  width: 100%;
}

.import {
  margin-bottom: 2em;
}

.import .submit {
  margin-top: 2em;
  width: 30%;
}

.clear {
  clear: both;
}
